{% extends "base.html" %}

{% block content %}
<div style="margin-top: 30px;" class="container">
    <h1 class="mb-5">Home Page</h1>
    <p class="h5">Welcome to our flight reservation website!</p>
    <pre style="margin-top: 50px;">
 -.                 `|.
 |:\-,              .| \.
 |: `.------------------------------------.
 / /   o o o o o o o o o o o o o.-.o o   (_`.
/_ \_              .     .=     |'|         `)
     ``"""""""""""//    /  """"" `"""------"'

    </pre>
</div>

{% endblock %}